/project/target/*
/target/*
/project/project/project/project/target/config-classes/
/project/project/project/target/
/.idea/.gitignore
/zio-docs-bar-tutorial/target/.history3
/zio-docs-foo-tutorial/target/.history3
/project/target/
/project/project/target/
.bloop
.idea
.bsp
.vscode
.metals
/documentation/zio-docs-bar-tutorial/target/.history3
/documentation/zio-docs-foo-tutorial/target/.history3
/documentation/zio-docs-bar-tutorial/target/scala-2.12/sync/copy-resource
/documentation/zio-docs-foo-tutorial/target/scala-2.12/sync/copy-resource
/documentation/zio-docs-bar-tutorial/target/streams/compile/_global/_global/discoveredMainClasses/data
/documentation/zio-docs-foo-tutorial/target/streams/compile/_global/_global/discoveredMainClasses/data
/documentation/zio-docs-bar-tutorial/target/streams/compile/compileIncremental/_global/streams/export
/documentation/zio-docs-bar-tutorial/target/streams/compile/dependencyClasspath/_global/streams/export
/documentation/zio-docs-bar-tutorial/target/streams/compile/exportedProductJars/_global/streams/export
/documentation/zio-docs-bar-tutorial/target/streams/compile/exportedProducts/_global/streams/export
/documentation/zio-docs-bar-tutorial/target/streams/compile/externalDependencyClasspath/_global/streams/export
/documentation/zio-docs-bar-tutorial/target/streams/compile/internalDependencyClasspath/_global/streams/export
/documentation/zio-docs-bar-tutorial/target/streams/compile/managedClasspath/_global/streams/export
/documentation/zio-docs-bar-tutorial/target/streams/compile/unmanagedClasspath/_global/streams/export
/documentation/zio-docs-bar-tutorial/target/streams/compile/unmanagedJars/_global/streams/export
/documentation/zio-docs-bar-tutorial/target/streams/runtime/dependencyClasspathAsJars/_global/streams/export
/documentation/zio-docs-bar-tutorial/target/streams/runtime/exportedProductJars/_global/streams/export
/documentation/zio-docs-bar-tutorial/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/documentation/zio-docs-bar-tutorial/target/streams/runtime/fullClasspathAsJars/_global/streams/export
/documentation/zio-docs-bar-tutorial/target/streams/runtime/internalDependencyAsJars/_global/streams/export
/documentation/zio-docs-bar-tutorial/target/streams/runtime/managedClasspath/_global/streams/export
/documentation/zio-docs-bar-tutorial/target/streams/runtime/unmanagedClasspath/_global/streams/export
/documentation/zio-docs-bar-tutorial/target/streams/runtime/unmanagedJars/_global/streams/export
/documentation/zio-docs-foo-tutorial/target/streams/compile/compileIncremental/_global/streams/export
/documentation/zio-docs-foo-tutorial/target/streams/compile/dependencyClasspath/_global/streams/export
/documentation/zio-docs-foo-tutorial/target/streams/compile/exportedProductJars/_global/streams/export
/documentation/zio-docs-foo-tutorial/target/streams/compile/exportedProducts/_global/streams/export
/documentation/zio-docs-foo-tutorial/target/streams/compile/externalDependencyClasspath/_global/streams/export
/documentation/zio-docs-foo-tutorial/target/streams/compile/internalDependencyClasspath/_global/streams/export
/documentation/zio-docs-foo-tutorial/target/streams/compile/managedClasspath/_global/streams/export
/documentation/zio-docs-foo-tutorial/target/streams/compile/unmanagedClasspath/_global/streams/export
/documentation/zio-docs-foo-tutorial/target/streams/compile/unmanagedJars/_global/streams/export
/documentation/zio-docs-foo-tutorial/target/streams/runtime/dependencyClasspathAsJars/_global/streams/export
/documentation/zio-docs-foo-tutorial/target/streams/runtime/exportedProductJars/_global/streams/export
/documentation/zio-docs-foo-tutorial/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/documentation/zio-docs-foo-tutorial/target/streams/runtime/fullClasspathAsJars/_global/streams/export
/documentation/zio-docs-foo-tutorial/target/streams/runtime/internalDependencyAsJars/_global/streams/export
/documentation/zio-docs-foo-tutorial/target/streams/runtime/managedClasspath/_global/streams/export
/documentation/zio-docs-foo-tutorial/target/streams/runtime/unmanagedClasspath/_global/streams/export
/documentation/zio-docs-foo-tutorial/target/streams/runtime/unmanagedJars/_global/streams/export
/documentation/zio-docs-bar-tutorial/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
/documentation/zio-docs-foo-tutorial/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
/documentation/zio-docs-bar-tutorial/target/scala-2.12/update/update_cache_2.12/inputs
/documentation/zio-docs-bar-tutorial/target/streams/compile/packageBin/_global/streams/inputs
/documentation/zio-docs-foo-tutorial/target/scala-2.12/update/update_cache_2.12/inputs
/documentation/zio-docs-foo-tutorial/target/streams/compile/packageBin/_global/streams/inputs
/documentation/zio-docs-bar-tutorial/target/scala-2.12/classes/mdoc.properties
/documentation/zio-docs-bar-tutorial/target/scala-2.12/resource_managed/main/mdoc.properties
/documentation/zio-docs-foo-tutorial/target/scala-2.12/classes/mdoc.properties
/documentation/zio-docs-foo-tutorial/target/scala-2.12/resource_managed/main/mdoc.properties
/documentation/zio-docs-bar-tutorial/target/streams/_global/_global/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/_global/csrConfiguration/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/_global/csrProject/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/_global/ivyConfiguration/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/_global/ivySbt/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/_global/moduleSettings/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/_global/projectDescriptors/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/_global/resourceGenerators/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/_global/update/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/compile/bspReporter/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/compile/compile/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/compile/compileIncremental/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/compile/copyResources/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/compile/incOptions/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/compile/internalDependencyClasspath/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/compile/mainClass/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/compile/packageBin/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/compile/scalacOptions/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/compile/unmanagedClasspath/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/runtime/internalDependencyAsJars/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/streams/runtime/unmanagedClasspath/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/_global/_global/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/_global/csrConfiguration/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/_global/csrProject/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/_global/ivyConfiguration/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/_global/ivySbt/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/_global/moduleSettings/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/_global/projectDescriptors/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/_global/resourceGenerators/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/_global/update/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/compile/bspReporter/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/compile/compile/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/compile/compileIncremental/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/compile/copyResources/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/compile/incOptions/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/compile/internalDependencyClasspath/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/compile/mainClass/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/compile/packageBin/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/compile/scalacOptions/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/compile/unmanagedClasspath/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/runtime/internalDependencyAsJars/_global/streams/out
/documentation/zio-docs-foo-tutorial/target/streams/runtime/unmanagedClasspath/_global/streams/out
/documentation/zio-docs-bar-tutorial/target/scala-2.12/update/update_cache_2.12/output
/documentation/zio-docs-bar-tutorial/target/streams/compile/packageBin/_global/streams/output
/documentation/zio-docs-foo-tutorial/target/scala-2.12/update/update_cache_2.12/output
/documentation/zio-docs-foo-tutorial/target/streams/compile/packageBin/_global/streams/output
/documentation/zio-docs-bar-tutorial/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
/documentation/zio-docs-foo-tutorial/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
/documentation/zio-docs-bar-tutorial/target/streams/compile/_global/_global/compileOutputs/previous
/documentation/zio-docs-foo-tutorial/target/streams/compile/_global/_global/compileOutputs/previous
/documentation/zio-docs-bar-tutorial/target/scala-2.12/zio_bar_tutorial_2.12-0.1.0-SNAPSHOT.jar
/documentation/zio-docs-foo-tutorial/target/scala-2.12/zio_foo_tutorial_2.12-0.1.0-SNAPSHOT.jar
/website/
